<% if logged_in? && current_user.id == @recipe.user_id %>
<%= link_to "#{@recipe.user.name}", user_path(@recipe.user_id) %>さんのレシピ
<ul>
   <li id="none"></li>
     <% if @recipe.image? %>
      <%= image_tag (@recipe.image.url),alt: "アイコン",size: "300x300" %>
   <% else %>
      <%= image_tag "/assets/default1.jpg", size: '300x300' %>
   <% end %>
   </li>
  <li>レシピ名<br><%= @recipe.title %></li>
  <li>材料1<br><%= @recipe.ingridient_1 %></li>
  <li>材料2<br><%= @recipe.ingridient_2 %></li>
  <li>このレシピの特徴<br><%= safe_join(@recipe.description.split("\n"),tag(:br)) %></li>
  <li>作り方<br><%= safe_join(@recipe.sentence.split("\n"),tag(:br)) %></li>
</ul>
<%= link_to "レシピ一覧に戻る", recipes_path %>
<%= link_to "レシピを編集する", edit_recipe_path(@recipe) %>
<%= link_to "レシピを削除する", @recipe,method: :delete, data:{ confirm: "本当に削除してよろしいですか？"}%>
<% else %>
<%= link_to "#{@recipe.user.name}", user_path(@recipe.user_id) %>さんのレシピ
<ul>
  <%= form_for(@recipe) do |f| %>
   <% if @recipe.image? %>
      <%= image_tag (@recipe.image.url),alt: "アイコン", size: '300x300' %>
   <% else %>
      <%= image_tag "/assets/default1.jpg",alt: "アイコン", size: '300x300' %>
   <% end %>
<% end %>
  <li>レシピ名<br><%= @recipe.title %></li>
  <li>材料1<br><%= @recipe.ingridient_1 %></li>
  <li>材料2<br><%= @recipe.ingridient_2 %></li>
  <li>このレシピの特徴<br><%= safe_join(@recipe.description.split("\n"),tag(:br)) %></li>
  <li>作り方<br><%= safe_join(@recipe.sentence.split("\n"),tag(:br)) %> </li>
</ul>
<%= link_to "レシピ一覧に戻る", recipes_path %>
<% end %>
<%= render "favorites/fav_button", recipe: @recipe %>