<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
      <li class="media">
        <div class="media-body">
          <div>
    <%= form_for(@user) do |f| %>
      <% if user.image? %>
        <%= image_tag user.image.url, :size => '100x100'  %>
      <% else %>
      <%= image_tag "/assets/default.png", :size => '100x100' %>
      <% end %>
    <% end %>
            <%= link_to user.name,user_path(user) %>
          </div>
          <div>
            <%= render 'relationships/follow_button', user: user %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>