<div class='row'>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <% if @user.image? %>
          <%= image_tag @user.image.url, width: '100%', height: '100%' %>
            <% else %>
          <%= image_tag "/assets/default.jpg", width: '100%', height: '100%'%>
        <% end %>
        
        <%= form_with(model: @user, local: true)do |f| %>
          <%= render 'layouts/error_messages', model: f.object %> 
          <%= f.label :image, "写真" %>
          <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
         <br>
         
          <div class="form-group">
          <%= f.label :name, '名前' %>
          <%= f.text_field :name, class: 'form-control' %>
          </div>
        
        <div class="form-group">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.email_field :email, class: 'form-control' %>
        </div>
        
        <%= f.submit '編集する', class: 'btn btn-primary btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>