<div class='row'>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <% if @user.image? %>
          <%= image_tag @user.image.url, width: '100%', height: '100%' %>
            <% else %>
          <%= image_tag "/assets/default.jpg", width: '100%', height: '100%'%>
         <% end %>
         <br>
        <h3 class="card-title"><%=link_to "#{@user.name}",user_path(@user) %>さんのページ</h3>
        <%= render 'relationships/follow_button', user: @user %>
      </div>
    </div>
  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <class="list-group-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">投稿したレシピ一覧  <span class="badge badge-secondary"></span></a>
      <class="list-group-item"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">フォロー  <span class="badge badge-secondary"></span></a>
      <class="list-group-item"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">フォロワー  <span class="badge badge-secondary"></span></a>
      <class="list-group-item"><a href="<%= favorites_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(favorites_user_path(@user)) %>">お気に入りレシピ  <span class="badge badge-secondary"></span></a>
    </ul>
  </div>
    </div>
  <div class="col-sm-8">
  フォローされている
    <%= render 'users', users: @followers %>
  </div>
</div>