  <%= render "users/card", user: @user %>
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
      <a href="<%= user_path(@user) %>" class="list-group-item list-group-item-action">投稿したレシピ一覧</a>
      <a href="<%= followings_user_path(@user) %>" class="list-group-item list-group-item-action active">フォロー</a>
      <a href="<%= followers_user_path(@user) %>" class="list-group-item list-group-item-action">フォロワー</a>
      <a href="<%= favorites_user_path(@user) %>" class="list-group-item list-group-item-action">お気に入りレシピ</a>
      </ul>
    </div>
  </div>
  <div class="col-sm-8">
  フォローしている
  <%= render 'users', users: @followings %>
  </div>
</div> 