    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if logged_in? %>
        <li class="nav-item"><%= link_to "マイページ",users_show_path %></li>
        <li class="nav-item"><%= link_to "レシピの投稿",new_recipe_path %></li>
        <li class="nav-item"><%= link_to "ログアウト",logout_path, method: :delete %></li>
        <% else %>
          <li class="nav-item"><%= link_to "新規登録",signup_path %></li>
          <li class="nav-item"><%= link_to "ログイン",login_path %></li>
          <li class="nav-item"><%= link_to "レシピの投稿",new_recipe_path %></li>
        <% end %>
      </ul>
    </div>